<!DOCTYPE html>
<html>
<head>
  <title>BBQ</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <article>


      <% @pages.each do |page_name| %>
        <div class="bbq_list_item">
          <%= link_to page_path(name: page_name) do %>
            <%= render partial: 'bbq', locals: {bbq_type: page_name} %>
          <% end %>
        </div>
      <% end %>
      <br clear="all"/>

    <%= yield %>
  </article>

</body>
</html>
